@media (max-width: 505px) {
    .card_benefits {
        margin: 10px 10px;
    }

    .cards {
        margin-top: 10px;
    }
}


@media (max-width: 380px) {
    .card_benefits {
        margin: 10px 5px;
    }

    .card {
        margin: 10px 5px;
    }
}