/*@font-face {*/
/*    font-family: 'MeieScriptRegular';*/
/*    src: url('..//..//fonts/MeieScriptRegular.ttf');*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 650px) {
    .faq-text2 {
        padding-right: 45px;
    }
}