/*@font-face {*/
/*    font-family: 'MeieScriptRegular';*/
/*    src: url('..//..//fonts/MeieScriptRegular.ttf');*/
/*}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


.head {
  width: 100%;
  height: 1000px;
  background-image: url("..//..//assets/image.webp");
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 80px;
  padding: 32px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 140px;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  max-width: 835px;
  height: 40px;
  list-style: none;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  padding: 12px 4px;
  width: 100%;
  height: 40px;
  transition: transform 0.3s;
  cursor: pointer;

}

.li:hover {
  border-radius: 12px;
  height: 16px;
}

.a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-align: center;
}

.a_burgerr {
  color: #fff;
  text-align: center;
  margin-top: 26px;
}

.li:hover .a {
  color: #b8926c;
  text-align: center;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
  margin-left: auto;
  padding-right: 30px;
}

.burger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

.burger.active .line-1 {
  transform: translateY(11px) rotate(45deg);
}

.burger.active .line-2 {
  opacity: 0;
}

.burger.active .line-3 {
  transform: translateY(-11px) rotate(-45deg);
}

.burger-menu {
  position: fixed;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #b8926c;
  transition: right 1.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  z-index: 1000;
}

.burger-menu.active {
  right: 0;
}

.navbar {
  display: flex;
}

.text-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1995px;
  margin-left: 140px;
  margin-top: 100px;
  padding: 0 20px;
}

.first_text {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 1.754vw;
  letter-spacing: 1em;
  color: #0f0f0f;
}

.h1_main {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 6.094vw;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #0f0f0f;
}

.second_all {
  padding-top: 3vh;
  max-width: 1055px;
}

.third_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2.083vw;
  line-height: 1.2;
  color: #0f0f0f;
}

.four_text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.875vw;
  color: #0f0f0f;
  padding-top: 2vh;
}

.main_btn {
  margin-top: 5vh;
  width: 80%;
  max-width: 371px;
  height: 74px;
  font-family: var(--font-family);
  box-shadow: 0 4px 4px 0 rgba(15, 15, 15, 0.35);
  background: #b8926c;
  border: none;
  font-weight: 600;
  font-size: 1.042vw;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
  animation: pulse 3s infinite;
}

.main_btn:hover {
  background-color: #fff;
  color: #b8926c;
  transform: translateY(2px);
  box-shadow: 0 2px 2px 0 rgba(15, 15, 15, 0.35);
}

@keyframes pulse {
  20%, 100% {
      transform: scale(1);
  }
  80% {
      transform: scale(1.01);
  }
}