:root {
    --color-white: #fff;
}

.call-container {
    position: fixed;
    z-index: 1000;
	bottom: 90px;
    left: 14px;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-toggle {
    display: block;
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: var(--color-white);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
	box-shadow: 2px 4px 4px 2px rgba(72, 73, 72, 0.25);
    animation: pulse 1s infinite;
}




@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.8);
    }
}

@media (max-width: 460px) {
    .form-toggle {
        width: 50px;
        height: 50px;
        padding: 10px;
    }
}
