.top-form-container {
	position: fixed;
	z-index: 1000;
	bottom: 90px;
	right: 14px;
	left: auto;
}


.top-toggle {
	display: block;
	padding: 15px;
	background-color: #ffffff;
	color: #b8926c;
	border: 2px solid #b8926c;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	box-shadow: 1px 2px 2px 1px rgba(72, 73, 72, 0.25);
}

.form-toggle:hover {
	background-color: var(--main-color);
}

@media (max-width:806px) {
	.input-phone {
		max-width: 220px;
	}

	.button-phone {
		max-width: 220px;
	}

	.input-ph {
		max-width: 220px;
	}
}

@media (max-width:586px) {
	.top-toggle {
	display: block;
	padding: 15px;
	background-color: #ffffff;
	color: #b8926c;
	border: 2px solid #b8926c;
	border-radius: 100%;
	cursor: pointer;
	text-align: center;
	box-shadow: 1px 1px12px 1px rgba(72, 73, 72, 0.25);
}
}

@media (max-width:286px) {
	.input-phone {
		max-width: 220px;
	}

	.button-phone {
		max-width: 220px;
	}

	.input-ph {
		max-width: 220px;
	}

	.expanded-form {
		margin-left: -5%;
		width: 275px;
	}

}