/*@font-face {*/
/*    font-family: 'MeieScriptRegular';*/
/*    src: url('..//..//fonts/MeieScriptRegular.ttf');*/
/*}*/


:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Poppins", sans-serif;
    --font3: "Oswald", sans-serif;
  }



/*benefits*/

.section_benefits {
    width: 100%;
    background-size: cover; 
    background-image: url('..//..//assets/bg-b.png');
    margin-top: -70px;
}

.content_benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 116px;
    padding-bottom: 170px;
    margin-left: auto;
    margin-right: auto;
}

.card_benefits {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 442px;
    height: 280px;
    margin: 10px 55px;
    box-sizing: border-box; 
    background-color: #fff;
    box-shadow: 5px 10px 15px 0 rgba(15, 15, 15, 0.35);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
}
.icon {
    width: 100%;
    max-width: 125px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 28px;
}

.text_b {
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
text-transform: uppercase;
text-align: center;
color: #0f0f0f;
text-align: justify;
text-align: center;
margin-left: 40px;
margin-right: 40px;
margin-top: auto;
margin-bottom: auto;
}

