@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('/fonts/montserrat-v29-latin-regular.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

  margin: 0;
  padding: 0;
}
.App{
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: rgba(15, 15, 15, 1);
}