/*@font-face {*/
/*    font-family: 'MeieScriptRegular';*/
/*    src: url('..//..//fonts/MeieScriptRegular.ttf');*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width: 1200px) {
    footer {
        /* background-color: red; */
        
    }
}

@media (max-width: 500px) {
    footer {
        /* background-color: green; */
    }
}
