/*@font-face {*/
/*    font-family: 'MeieScriptRegular';*/
/*    src: url('..//..//fonts/MeieScriptRegular.ttf');*/
/*}*/

@media (max-width: 1355px) {
  .content_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 90px;
    margin-top: 94px;
  }

  .visa {
    margin-left: auto;
    margin-right: auto;
  }

  .third {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 995px) {
  .first_steps {
    gap: 24px;
  }
  .first_step {
    gap: 15px;
  }
}

@media (max-width: 625px) {
  .visa {
    margin-left: auto;
    margin-right: auto;
  }
  .first_steps {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .first_steps,
  .third {
    padding-left: 10px;
    padding-right: 10px;
  }
}
